# Como iniciar o backend do projeto localmente:

1 - Vá ao arquivo src/main/resources/application-local.properties
2 - Crie o banco de dados no PostgreSQL com o mesmo nome do final da variável spring.datasource.url. No nosso caso é: clinica_db_local
3 - Ainda no arquivo src/main/resources/application-local.properties, verifique se spring.jpa.hibernate.ddl-auto está como update (No update, o hibernate atualiza automaticamente o schema do banco com base nas entidades JPA)
4 - Crie o arquivo .env e coloque o valor das seguintes variáveis:


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Alterne entre local, prod ou test
SPRING_PROFILES_ACTIVE=local

# Escolha a porta que irá rodar o backend, lembre-se de sincronizar com o .env do frontend, para que seja possível fazer as requisições para a porta do backend
SERVER_PORT=

# Colocar no arquivo src/main/resources/application-local.properties a senha do seu banco de dados
BD_DATASOURCE_PASSWORD=

spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=
